/**
 * @see https://bit.dev/reference/typescript/typescript-config
 */
{
  "extends": "@bitdev/vue.envs.vue-env/config/tsconfig.json",
  "compilerOptions": {
  },
  "exclude": ["artifacts", "public", "dist", "node_modules", "package.json", "**/*.cjs"],
  "include": ["**/*", "**/*.json"]
}
